---
import Navbar from "../components/Navbar.astro";
---
<div>
<Navbar />
<div class="flex items-center justify-center">
    <div class="w-1/3"><p class="text-xl">My name is Viktor Juncaj, I'm a student at Rochester University with a heavy interest in traveling and sharing my experiences with others. I'm hoping my blog can help others on their future endeavors and find themselves in amazing situations and environments that they've never been in before.</p>
    </div>
    <div class="w-1/3">
    <img src="/vikto.png" alt=""></div>
</div>
</div>